/* @group Normalize */

body {
    color: #443b3b;
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.38461538461538; /* 18px / 13px */
}

a {
    color: #1190cc;
}

p {
    margin-bottom: 1em;
}

ul {
    margin-left: 14px;
}

ul ul {
    margin-left: 30px;
}

ol {
    margin-left: 20px;
}

ol li {
    list-style-type: decimal;
}

ul li {
    list-style-image: url("../../images/icons/bullet.png");
    margin-bottom: 1em;
}
    .ie7 ul li {
        list-style-image: url('/images/icons/bullet-ie7.png');
    }

ul ul li {
    list-style-image: url(../../images/icons/bullet-nested.png);
}
    .ie7 ul ul li {
        list-style-image: url('/images/icons/bullet-nested-ie7.png');
    }

figure img {
    display: block;
}

b {
    font-weight: bold;
}

/* @end */

/* @group Utility Classes */

/* For screen-reader text, such as "Skip Nav" links */

.assistive {
    display: inline-block;
    height: 0;
    left: -5000px;
    overflow: hidden;
    position: absolute;
    width: 0;
}

.group:before, .group:after,
.clearfix:before, .clearfix:after,
.freeform blockquote:before, .freeform blockquote:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.group:after, .clearfix:after, .freeform blockquote:after {
    clear: both;
}

.ie6 .group, .ie7 .group,
.ie6 .clearfix, .ie7 .clearfix {
    zoom: 1;
}

/* @end */

/* @group "Super Title" */

/*
 * Small-font, all uppercase headers with an HR-style bottom border
 */

.super-title {
    border-bottom: 1px solid #dbdad9;
    font-size: 11px;
    line-height: 1.18181818181818; /* 13px / 11px */
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

/* @end */

/* @group "Article Title" */

/*
 * Dark-blue main title for an article element on the page
 */

.article-title,
.article-title a {
    color: #00365f;
}

/* @end */

/* @group "Read More" links */

/*
 * For links after introductory copy that take you
 * to a more complete document.
 */

a.read-more {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.23076923076923; /* 16px / 13px */
    text-decoration: none;
}

a.read-more:after {
	content: "\00a0›";
}

a.read-more:hover,
a.read-more:active,
a.read-more:focus {
    text-decoration: underline;
}

blockquote a.read-more {
    color: #e67300;
}

/* @end */

/* @group "Dog Eared" boxes */

.dog-eared {
    padding: 24px 2.547770700637%; /* 24px / 942px */
}

/* @group Padding Adjustments */

.column_75 .dog-eared {
    padding: 24px 3.423680456491%; /* 24px / 701px */
}

.column_66 .dog-eared {
    padding: 24px 3.870967741935%; /* 24px / 620px */
}

.column_50 .dog-eared {
    padding: 24px 5.217391304348%; /* 24px / 460px */
}

.column_33 .dog-eared {
    padding: 24px 8.026755852843%; /* 24px / 299px */
}

.column_25 .dog-eared {
    padding: 24px 10.958904109589%; /* 24px 219px */
}

@media all and (max-width: 461px) {

    .dog-eared {
        padding: 24px 5.206073752711%; /* 24px / 461px */
    }

}

@media all and (max-width: 620px) {

    .column_33 .dog-eared {
        padding: 24px 3.870967741935%; /* 24px / 620px */
    }

}

@media all and (max-width: 710px) {

    .column_50 .dog-eared,
    .column_25 .dog-eared {
        padding: 24px 3.380281690141%; /* 24px / 710px */
    }

}

/* @end */

/* @end */

/* @group Slideshow */

/*
 * Using FlexSlider for responsive slideshow functionality
 */

.slideshow nav {
    display: none;
}

/* @group No-JavaScript Fallback */

.no-js .slideshow nav {
    display: none;
}

.no-js .slideshow .slide:first-of-type {
    display: block;
}

/* @end */

/* @end */

/* @group Content Descriptor */

/*
 * Describes the type of content that follows, something
 * along the lines of "Featured"
 */

.descriptor {
    display: none;
    font-size: 11px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
}

@media all and (min-width: 640px) {

    .descriptor {
        display: block;
    }

}

/* @end */

/* @group FreeForm (class="freeform") */

.freeform > :first-child {
    margin-top: 0;
}

.freeform > header > :first-child {
    margin-top: 0;
}

/* @group Links */

.freeform a {
    text-decoration: none;
}

    .freeform a:hover {
        text-decoration: underline;
    }

.freeform a.read-more {
    display: block;
    margin: 14px 0 20px;
}

/* @end */

/* @group Headers */

.freeform h1,
.freeform h2 {
    margin: 30px 0 14px;
}

.freeform h1 + h2 {
    margin-top: 14px;
}

.freeform h1 {
    font-family: museo-sans, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.1; /* 33px / 30px */
}

    .column_66 .freeform h1,
    .column_50 .freeform h1 {
        font-size: 26px;
        line-height: 1.19230769230769; /* 31px / 26px */
    }

    @media all and (max-width: 620px) {

        .freeform h1 {
            font-size: 26px;
            line-height: 1.19230769230769; /* 31px / 26px */
        }

    }

    .column_33 .freeform h1,
    .column_25 .freeform h1 {
        font-size: 25px;
        line-height: 1.2; /* 30px / 25px */
    }

    @media all and (max-width: 459px) {

        .freeform h1 {
            font-size: 25px;
            line-height: 1.2; /* 30px / 25px */
        }

    }

.freeform h2 {
    font-size: 22px;
    line-height: 1.22727272727273; /* 27px / 22px */
}

/* @end */

/* @group Paragraphs */

.freeform p {
    font-size: 15px;
    line-height: 1.46666666666667; /* 22px / 15px */
    margin: 14px 0;
}

    .freeform p.large {
        color: #aea8a6;
        font-size: 22px;
        font-weight: 300;
        line-height: 1.36363636363636; /* 30px / 22px */
    }

/* @end */

/* @group Lists */

.freeform ul,
.freeform ol {
    margin-bottom: 14px;
    margin-top: 20px;
}

/* nested lists */
.freeform li ul,
.freeform li ol {
    margin-bottom: 0;
    margin-top: 0;
}

.freeform li {
    font-size: 15px;
    line-height: 1.46666666666667; /* 22px / 15px */
    margin: 9px 0;
}

/* @end */

/* @group Blockquote */

.freeform blockquote {
    background: transparent url(../../images/icons/quotes.png) no-repeat 0 2px;
    margin: 20px 0;
    padding: 0 4.799107142857% 0 43px; /* 43px / 896px; left margin must be fixed to accommodate quote background */
}

    @media all and (-webkit-min-device-pixel-ratio: 2) {
        .freeform blockquote {
            background-image: url(/images/icons/quotes@2x.png);
            background-size: 24px;
            background-position: 0 4px;
        }
    }

/* @end */

/* @group First & Last Children */

.freeform > :first-child {
    margin-top: 0 !important;
}

.freeform > :last-child {
    margin-bottom: 0 !important;
}

.freeform blockquote > :first-child {
    margin-top: 0 !important;
}

.freeform blockquote > :last-child {
    margin-bottom: 0 !important;
}

/* @end */

/* @end */

/* @group Social Network Bar */

.social-network-bar {
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    height: 21px;
    line-height: 21px;
    margin-bottom: 30px;
    padding: 15px 0;
}

    .column_33 .social-network-bar,
    .column_25 .social-network-bar {
        border-bottom: none;
        border-top: none;
        height: auto;
        margin-bottom: 0;
        padding: 0;
    }

    @media all and (max-width: 459px) {

        .social-network-bar {
            border-bottom: none;
            border-top: none;
            height: auto;
            margin-bottom: 0;
            padding: 0;
        }

    }

.social-network-bar a {
    text-decoration: none;
}

.social-network-bar a:hover {
    text-decoration: underline !important;
}

.social-network-bar .social {
    float: left;
}

.social-network-bar .social iframe {
    display: inline-block;
}

    .column_33 .social-network-bar .social,
    .column_25 .social-network-bar .social {
        border-bottom: 1px solid #dfdfdf;
        border-top: 1px solid #dfdfdf;
        float: none;
        padding: 15px 0;
    }

    @media all and (max-width: 459px) {

        .social-network-bar .social {
            border-bottom: 1px solid #dfdfdf;
            border-top: 1px solid #dfdfdf;
            float: none;
            padding: 15px 0;
        }

    }

.social-network-bar .email-print {
    float: right;
    margin-right: 9px;
}

    .column_33 .social-network-bar .email-print,
    .column_25 .social-network-bar .email-print {
        border-bottom: 1px solid #dfdfdf;
        float: none;
        margin-right: 0;
        padding: 15px 0 15px 5px;
    }

    @media all and (max-width: 459px) {

        .social-network-bar .email-print {
            border-bottom: 1px solid #dfdfdf;
            float: none;
            margin-right: 0;
            padding: 15px 0 15px 5px;
        }

    }

.social-network-bar .email-print a {
    background: no-repeat left center;
    display: inline-block;
    padding-left: 15px;
    text-decoration: none;
}

.social-network-bar .email-print .print {
    background-image: url(../../images/icons/printer.png);
    border-right: 1px dotted #afafaf;
    margin-right: 8px;
    padding-right: 8px;
}

.social-network-bar .email-print .email {
    background-image: url(../../images/icons/email.png);
}

/* @end */

/* @group Social Media Icons */

.social-media-icons {
    margin-left: 0;
}

.social-media-icons li {
    float: left;
    list-style-image: none;
    margin-bottom: 0;
}

/* @end */

/* @group Accordion Expansion Functionality */

.accordion ul > li > ul {
    display: none;
}

/* by default, show the first nested UL */
.accordion > ul > li:first-of-type > ul {
    display: block;
}

/* by default, show the first sub-nested UL */
.accordion ul > li:first-of-type > ul > li:first-of-type > ul {
    display: block;
}

/* @end */

/* @group Columns */

/* Columnar container */
.columns{
    max-width: 942px;
    padding: 0;
    margin: 0 auto;
}

/* Individual columns */
.column{
    margin-right: 2.3354565%; /* 22/942 */
    float: left;
}
.column:last-child{
    margin-right: 0;
}

/* Specific column widths */
.column_25{
    width: 23.2484076%; /* 219/942 */
}
.column_33{
    width: 31.7409766%; /* 299/942 */
}
.column_50{
    width: 48.8322718%; /* 460/942 */
}
.column_66{
    width: 65.8174098%; /* 620/942 */
}
.column_75{
    width: 74.4161359%; /* 701/942 */
}
.column_100{
    width: 100%;
}

@media all and (max-width: 710px){
    .columns-25_25_25_25 .column_25{
        width: 48.8322718%; /* 460/942 */
    }
    .columns-25_25_25_25 .column_25:nth-child(3){
        clear: left;
    }
    .columns-25_25_25_25 .column_25:nth-child(2n){
        margin-right: 0;
    }
}

@media all and (max-width: 480px){
    .columns-25_25_25_25 .column_25{
        float: none;
        width: 100%;
        margin-right: 0;
    }
}

@media all and (max-width: 620px){
    .columns-66_33 .column{
        float: none;
        width: 100%;
        margin-right: 0;
    }
}

@media all and (max-width: 620px){
    .columns-33_66 .column{
        float: none;
        width: 100%;
        margin-right: 0;
    }
}

@media all and (max-width: 710px){
    .columns-75_25 .column{
        float: none;
        width: 100%;
        margin-right: 0;
    }
}

@media all and (max-width: 710px){
    .columns-25_75 .column{
        float: none;
        width: 100%;
        margin-right: 0;
    }
}

@media all and (max-width: 710px){
    .columns-25_25_50 .column_25{
        width: 48.8322718%; /* 460/942 */
    }
        .columns-25_25_50 .column_25:nth-child(2){
            margin-right: 0;
        }
    .columns-25_25_50 .column_50{
        clear: left;
        width: 100%;
    }
}

@media all and (max-width: 480px){
    .columns-25_25_50 .column_25{
        float: none;
        width: 100%;
        margin-right: 0;
    }
}

@media all and (max-width: 710px){
    .columns-25_50_25 .column{
        float: none;
        width: 100%;
        margin-right: 0;
    }
}

@media all and (max-width: 710px){
    .columns-50_25_25 .column_25{
        width: 48.8322718%; /* 460/942 */
    }
        .columns-50_25_25 .column:nth-child(2){
            clear: left;
        }
    .columns-50_25_25 .column_50{
        clear: left;
        width: 100%;
    }
}

@media all and (max-width: 480px){
    .columns-50_25_25 .column_25{
        float: none;
        width: 100%;
        margin-right: 0;
    }
}

@media all and (max-width: 710px){
    .columns-50_50 .column{
        float: none;
        width: 100%;
        margin-right: 0;
    }
}

@media all and (max-width: 620px){
    .columns-33_33_33 .column{
        float: none;
        width: 100%;
        margin-right: 0;
    }
}

/* @end Columns */

/* @group Header Container */

body > header {
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.11);
    height: 78px;
    line-height: 1;
    margin: 0 auto;
    max-width: 902px;
    overflow: hidden;
    padding: 11px 20px 17px;
    position: relative;
    z-index: 100;
}

body > header li {
    list-style-image: none;
    margin: 0;
}

body > header a {
    text-decoration: none;
}


/* @group Logo */
body > header > h1 {
    float: right;
    width: 25%;
}
body > header > h1 img {
    width: 100%;
}
body > header > h1 button {
    display: none;
}
/* @end Logo */


/* @group Build display:table Structure */

.nav {
    float: left;
    display: block;
    width: 70%;
}

.nav nav {
    border-collapse: collapse;
    display: table;
}

.nav nav ul {
    display: table-row;
}

.nav nav ul li {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}

/* @end Buld display:table Structure */

/* @group Nav - Primary */

nav.primary {
    border-bottom: 1px solid #e6e6e6;
    font-weight: 300;
    margin-top: 17px;
    width: 100%;
}

nav.primary li {
    background: url('../../images/header/header-divider-primary-bg.png') no-repeat 84%;
    width: 33%;
}

nav.primary li:last-child {
    background: none;
}

nav.primary li a {
    color: #1491c7;
    display: block;
    float: left;
    height: 1em;
    padding-bottom: 8px;
}

nav.primary li a:after {
    background-color: #1491c7;
    content: '';
    display: block;
    height: 4px;
    overflow: hidden;
    margin-top: 5px;
    visibility: hidden;

    -webkit-transform: skew(-30deg);
       -moz-transform: skew(-30deg);
         -o-transform: skew(-30deg);
            transform: skew(-30deg);
}

nav.primary li a:hover:after,
nav.primary li a:active:after {
    visibility: visible;
}

/* @end Nav - Primary */

/* @group Nav - Sub */

nav.secondary {
    float: left;
    font-family: museo-sans, sans-serif;
    font-weight: 300;
    margin-top: 11px;
}

nav.secondary li {
    padding-right: 13px;
}

nav.secondary li a {
    color: #443b3b;
    display: block;
    padding-right: 7px;
}

nav.secondary li:last-child {
    padding-right: 0;
}

nav.secondary li a:after {
    background-color: #a39999;
    content: '';
    display: block;
    height: 3px;
    overflow: hidden;
    margin: 4px -7px 0 0;
    visibility: hidden;

    -webkit-transform: skew(-30deg);
       -moz-transform: skew(-30deg);
         -o-transform: skew(-30deg);
            transform: skew(-30deg);
}

nav.secondary li a:hover,
nav.secondary li a:active {
    background: transparent url(../../images/header/header-subnav-over-bg.png) no-repeat right 4px;
    color: #a39999;
}

nav.secondary li a:hover:after,
nav.secondary li a:active:after {
    visibility: visible;
}

/* @end Nav - Sub */

/* @group Nav - Utility */

nav.tertiary {
    color: #d6d6d6;
    float: right;
    font-weight: 500;
    margin: 9px -4px 0 0;
    text-align: right;
    text-transform: uppercase;
}

nav.tertiary li {
    float: left;
}

nav.tertiary li:before {
    content: '|';
    padding: 2px;
}

nav.tertiary li:first-child:before {
    display: none;
}

nav.tertiary li a {
    color: #0066a4;
    display: inline-block;
    padding: 4px 6px;
}

nav.tertiary li a:hover,
nav.tertiary li a:active,
nav.tertiary li a:focus {
    background-color: #0066a4;
    color: #fff;
}

/* @end Nav - Utility */

body > header button {
    background: #e7e5e4 url(/images/icons/mobile-arrows.png) no-repeat 90% -18px;
    border: 0;
    border-radius: 0;
    float: right;
    font-size: 12px;
    line-height: 1;
    margin: 22px 4% 0 0;
    padding: 8px 8px 7px 12px;
    text-align: left;
    width: 40%;
}

/* start IE fixes for header and subnav */
.ie7 .nav nav ul {
	display: block;
}

.ie7 .nav nav ul li {
	display: block;
	float: left;
}

.ie7 nav.primary li a {
	display: inline-block;
}

.ie7 .subnav {
	display: block;
}

.ie7 .subnav ul {
	display: block;
}

.ie7 .subnav ul li {
	display: block;
	float: left;
	height: auto;
}

/* @group Font Size Adjustments */

/* Step up the font size as the screen grows wider */

nav.primary {
    font-size: 22px;
}

nav.secondary {
    font-size: 15px;
}

nav.tertiary {
    font-size: 10px;
}

@media screen and (min-width: 640px) {
    nav.primary {
        font-size: 22px;
    }

    nav.secondary {
        font-size: 15px;
    }

    nav.tertiary {
        font-size: 10px;
    }
}

@media screen and (min-width: 775px) {
    nav.primary {
        font-size: 19px;
    }

    nav.secondary {
        font-size: 13px;
    }

    nav.tertiary {
        font-size: 9px;
    }
}

@media screen and (min-width: 837px) {
    nav.primary {
        font-size: 20px;
    }

    nav.secondary {
        font-size: 13px;
    }

    nav.tertiary {
        font-size: 9px;
    }
}

@media screen and (min-width: 898px) {
    nav.primary {
        font-size: 21px;
    }

    nav.secondary {
        font-size: 14px;
    }

    nav.tertiary {
        font-size: 10px;
    }
}


/* @end Font Size Adjustments */

/* @group Media Queries / Responsiveness */

@media screen and (max-width: 639px) {
    body > header {
        height: auto;
        overflow: visible;
        padding: 0;
    }

    body > header > h1 {
        box-shadow: 0 0 7px rgba(0,0,0,0.11);
        float: none;
        height: 60px;
        position: relative;
        width: 100%;
        z-index: 100;
    }

    body > header > h1 img {
        height: 47px;
        margin: 5px 0 4px 4%;
        width: 139px;
    }

    body > header > h1 button {
        display: block;
    }

    .nav {
        background-color: #fff;
        box-shadow: 0 6px 7px -6px rgba(0, 0, 0, 0.11);
        display: none;
        float: none;
        width: 100%;
    }

    .nav nav {
        display: block;
        float: none;
        font-size: 14px;
        font-family: museo-sans, sans-serif;
        font-weight: 300;
        margin: 0;
    }

    .nav nav ul {
        background-color: #FFFFFF;
        display: block;
        float: none;
        margin: 0;
        padding: 0 1%;
        text-align: left;
        text-transform: none;
    }

    .nav nav ul li {
        background: none;
        display: block;
        float: none;
        margin: 0 0.5%;
        padding: 0;
        width: inherit;
    }

    .nav nav li a,
    .nav nav li a:hover,
    .nav nav li a:active,
    .nav nav li a:focus {
        background: transparent url(/images/icons/mobile-arrows.png) no-repeat 97% -45px;
        border-bottom: 1px solid #EFEFEF;
        color: #063865;
        display: block;
        float: none;
        height: auto;
        padding: 15px 16px 13px;
    }

    nav.primary {
        border-bottom: 0;
    }

    nav.primary li:first-child a,
    nav.primary li:first-child a:hover,
    nav.primary li:first-child a:active,
    nav.primary li:first-child a:focus {
        padding-top: 14px;
    }

    nav.primary li a:after,
    nav.secondary li a:after {
        display: none;
    }

    nav.secondary li a:hover,
    nav.secondary li a:active,
    nav.secondary li a:focus {
        color: #0b3759;
    }

    nav.tertiary li:before {
        display: none;
    }

    nav.tertiary li:last-child a {
        border-bottom: 0;
    }

    nav.tertiary li a:hover,
    nav.tertiary li a:active,
    nav.tertiary li a:focus {
        background-color: transparent;
        color: #0b3759;
    }
}

@media screen and (min-width: 640px) and (max-width: 774px) {
    body > header {
        height: 168px;
    }

    body > header > h1 {
        float: none;
        width: auto;
    }

    body > header > h1 img {
        width: 195px;
    }

    .nav {
        display: block;
        width: 100%;
    }

    nav.primary {
        margin-top: 16px;
    }

    nav.secondary {
        top: 133px;
    }

    nav.secondary li a:after {
        margin-right: 0;
    }

    nav.secondary li a:hover,
    nav.secondary li a:active,
    nav.secondary li a:focus {
        background: none;
    }
}

/* @end Media Queries / Responsiveness */

/* @end Header Container */

/* @group Page Sub Header */

#main > header {
    background: #00356c no-repeat center;
    height: 24px;
    margin: -106px 0 0;
    padding-top: 131px; /* 106+25 */
    position: relative;
    background-image: url(/images/header/stripes-default.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #001655), color-stop(100%, #005383));
    background-image: url(/images/header/stripes-default.png), -webkit-linear-gradient(top, #001655 0%, #005383 100%);
    background-image: url(/images/header/stripes-default.png),    -moz-linear-gradient(top, #001655 0%, #005383 100%);
    background-image: url(/images/header/stripes-default.png),     -ms-linear-gradient(top, #001655 0%, #005383 100%);
    background-image: url(/images/header/stripes-default.png),      -o-linear-gradient(top, #001655 0%, #005383 100%);
    background-image: url(/images/header/stripes-default.png),         linear-gradient(top, #001655 0%, #005383 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001655', endColorstr='#005383',GradientType=0 );
}

    #main > header .button{
        margin: -68px auto 0;
        max-width: 942px;
        min-width: 320px;
        text-align: right;
    }
        #main > header .button a{
            display: inline-block;
            margin-right: 15px;
            border: 1px solid #cdcbcb;
            padding: 12px;
            font: 500 14px/1 'museo-sans', 'Helvetica Neue', 'Helvetica', sans-serif;
            color: #008fce;
            text-decoration: none;
            text-transform: uppercase;
            background: #ffffff;
            background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
            background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
            background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
            background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
            background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
        }

            #main > header .button a:hover{
                color: #443B3B;
                background: #e5e5e5;
                background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff));
                background: -webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
                background: -o-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
                background: -ms-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
                background: linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
            }
            #main > header .button a:active{
                -webkit-box-shadow: inset 0 0 15px 0 #e5e5e5;
                -moz-box-shadow: inset 0 0 15px 0 #e5e5e5;
                box-shadow: inset 0 0 15px 0 #e5e5e5;
            }
        @media all and (max-width: 775px){
            #main > header .button{
                display: none;
            }
        }

@media all and (max-width: 639px) {

    #main > header {
        height: auto;
        padding-top: 179px;

        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #001655), color-stop(100%, #005383));
        background-image: -webkit-linear-gradient(top, #001655 0%, #005383 100%);
        background-image:    -moz-linear-gradient(top, #001655 0%, #005383 100%);
        background-image:     -ms-linear-gradient(top, #001655 0%, #005383 100%);
        background-image:      -o-linear-gradient(top, #001655 0%, #005383 100%);
        background-image:         linear-gradient(top, #001655 0%, #005383 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001655', endColorstr='#005383',GradientType=0 );

    }

    #main > header h1 {
        display: none;
    }

}

/* @end */

.splash #main{
    margin-top: -107px;
}

@media screen and (max-width: 815px) {
    .splash #main{
        margin-top: -87px;
    }

}

@media screen and (max-width: 675px) {
    .splash #main{
        margin-top: -67px;
    }

}

@media screen and (max-width: 625px) {
    .splash #main{
        margin-top: -10px;
    }

}

.program{}
.program #main{
    background: #f6f5f2;
}
.program #main > header{
    background: #06426d;
    background: -moz-linear-gradient(top, #06426d 55%, #378481 95%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(55%,#06426d), color-stop(95%,#378481));
    background: -webkit-linear-gradient(top, #06426d 55%,#378481 95%);
    background: -o-linear-gradient(top, #06426d 55%,#378481 95%);
    background: -ms-linear-gradient(top, #06426d 55%,#378481 95%);
    background: linear-gradient(top, #06426d 55%,#378481 95%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06426d', endColorstr='#378481',GradientType=0 );
    height: auto;
}
.program #main > header h1{
    margin: 0 auto;
    max-width: 898px;
    min-width: 320px;
    padding: 35px 22px 35px;
    font: 100 43px/1.21 'museo-sans', 'Helvetica Neue', 'Helvetica', sans-serif;
    color: #FFF;
}

.program #main > .columns{
    margin: 45px auto;
}

.program .region-1{
    position: relative;
    top: -13px;
    -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
    background: #FFF;
    max-width: 940px;
    margin: 0 auto -13px;
}
    
    .program .region-1 .columns{
        padding: 30px 20px;
    }

.program .subnav{
    border-top: 0;
}

@media all and (max-width: 640px){
    .program .subnav{
        background: none;
    }
        .program .subnav ul{
            background: #378481;
        }
}

.content_stream-wrapper{
    background: #efeeec;
    padding: 40px 0;
}
.content_stream-wrapper .content_stream{
    max-width: 942px;
    margin: 0 auto;
}

/* @group Subnav */

.subnav {
    background: #fff url(/images/subnav-bg.png) center bottom no-repeat;
    border: solid #dfdfdf;
    border-width: 1px 0;
    display: table;
    width: 100%;
    position: relative;
}

.subnav > a {
    display: none;
}

.subnav ul {
    display: table-row;
}

.subnav ul li {
    background: transparent url('/images/icons/subnav-divider.gif') no-repeat left center;
    display: table-cell;
    font-family: museo-sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 29px;
    list-style-image: none;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

    .subnav ul li:first-child {
        background-image: none;
    }

.subnav ul li a {
    color: #1190cc;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.subnav ul li a:hover {
    background-color: #3779ae;
    color: #fff;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3779ae), color-stop(100%,#1c3b70));
    background-image: -webkit-linear-gradient(top, #3779ae 0%,#1c3b70 100%);
    background-image:    -moz-linear-gradient(top, #3779ae 0%, #1c3b70 100%);
    background-image:     -ms-linear-gradient(top, #3779ae 0%,#1c3b70 100%);
    background-image:      -o-linear-gradient(top, #3779ae 0%,#1c3b70 100%);
    background-image:         linear-gradient(top, #3779ae 0%,#1c3b70 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3779ae', endColorstr='#1c3b70',GradientType=0 );
}

.subnav ul li a:active {
    background-color: #1c3b70;
    color: #fff;
    
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c3b70), color-stop(100%,#3779ae));
    background-image: -webkit-linear-gradient(top, #1c3b70 0%,#3779ae 100%);
    background-image:    -moz-linear-gradient(top, #1c3b70 0%, #3779ae 100%);
    background-image:     -ms-linear-gradient(top, #1c3b70 0%,#3779ae 100%);
    background-image:      -o-linear-gradient(top, #1c3b70 0%,#3779ae 100%);
    background-image:         linear-gradient(top, #1c3b70 0%,#3779ae 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c3b70', endColorstr='#3779ae',GradientType=0 );

    -webkit-box-shadow: inset 0 0 30px 0 #17396e;
       -moz-box-shadow: inset 0 0 30px 0 #17396e;
            box-shadow: inset 0 0 30px 0 #17396e;
}

@media all and (max-width: 941px) {
    .subnav ul li {
        vertical-align: top;
    }

    .subnav ul li a {
        line-height: 1.125; /* 18px / 16px */
        text-align: left;
        white-space: normal;
    }
}

@media all and (max-width: 774px) {
    .subnav ul li a {
        font-size: 15px;
        line-height: 1.2; /* 18px / 15px */
        padding: 12px 10px;
    }
}

@media all and (max-width: 639px) {
    .subnav, .subnav ul li {
        display: block;
        padding: 0;
    }

    .subnav {
        position: relative;
        top: -48px;
        margin-bottom: -48px;
    }

    .subnav ul {
        display: none;
        background: #005383;
        margin: 0;
        left: 0;
    }

    .subnav ul li {
        background-image: none;
        height: auto;
        margin: 0;
    }

    .subnav ul li a,
    .subnav ul li a:hover {
        background: transparent url('/images/icons/mobile-arrows.png') no-repeat 97% -143px;
        border-bottom: 1px solid #155981;
        color: #fff;
        font-size: 13px;
        height: 34px;
        line-height: 34px;
        padding: 4px 15px;
    }

    .subnav ul li:last-of-type a {
        border-bottom: none;
    }

    .subnav > a {
        background: transparent url('/images/icons/mobile-arrows.png') no-repeat 97% -104px;
        border-bottom: 1px solid #155981;
        color: #fff;
        display: block;
        font-size: 18px;
        font-weight: 300;
        height: 46px;
        line-height: 46px;
        margin: 0 0.5%;
        padding: 0 15px;
        text-decoration: none;
    }

}

/* @end Subnav */

/* @group Footer Container */

/* @group Footer Container & Basics */

body > footer {
    color: #9a9a9a;
    background: #2b2320;
}

body > footer li {
    list-style-image: none;
    margin: 0;
}

body > footer a {
    color: #9a9a9a;
    text-decoration: none;
}

/* @end */

/* @group Breadcrumbs / Social Media Icons / Search */
.sticky-bar {
    width: 100%;
    background: #2b2320;
    z-index: 1000;
}


.sticky-bar-inner {
    /* 1% margins to match sitemap, 98% width for when we position: fix it */
    width: 99%;
    height: 42px;
    padding: 0 .5%;

    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.07)), to(rgba(0,0,0,.07)));
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,.07),rgba(0,0,0,.07));
    background-image: -moz-linear-gradient(top,rgba(255,255,255,.07),rgba(0,0,0,.07));
    background-image: -o-linear-gradient(top,rgba(255,255,255,.07),rgba(0,0,0,.07));
    background-image: -ms-linear-gradient(top,rgba(255,255,255,.07),rgba(0,0,0,.07));
    background-image: linear-gradient(top,rgba(255,255,255,.07),rgba(0,0,0,.07));

}

/* @group Breadcrumbs */

.breadcrumb {
    color: #fff;
    float: left;
    font-size: 14px;
    line-height: 42px;
}

.breadcrumb a:link,
.breadcrumb a:visited {
    color: white;
}

.breadcrumb a.home {
    background: url('/images/icons/home.png') no-repeat right 9px;
    display: inline-block;
    height: 42px;
    overflow: hidden;
    vertical-align: middle;
    width: 24px;
}

/* @end */

/* @group Social Media Icons & Search */

.footer-social-search {
    float: right;
    width: 414px;
}

/* @group Social Media Icons */

.footer-social-search .social-media-icons {
    float: left;
    height: 24px;
    margin: 9px 0;
    width: 140px;
}

.footer-social-search .social-media-icons li {
    margin-left: 5px;
}

.footer-social-search .social-media-icons li:first-child {
    margin-left: 0;
}

.footer-social-search .social-media-icons li a {
    background-image: url(/images/icons/social-media-sprites-footer.png);
    height: 24px;
    width: 24px;
}

.footer-social-search .social-media-icons li:hover a {
    opacity: 1;
}

.footer-social-search .social-media-icons li.facebook a {
    background-position: -49px 0;
}

.footer-social-search .social-media-icons li.youtube a {
    background-position: -98px 0;
}

.footer-social-search .social-media-icons li.rss a {
    background-position: -147px 0;
}

.footer-social-search .social-media-icons li.email a {
    background-position: -196px 0;
}

/* @group Fix Sprites for Retina Display */

@media all and (-webkit-min-device-pixel-ratio: 2) {

    .footer-social-search .social-media-icons li a {
        background-size: 220px auto;
        background-image: url(/images/icons/social-media-sprites-footer@2x.png);
    }

}

/* @end */

/* @end */

/* @group Search */

.footer-social-search form {
    display: inline-block;
    height: 42px;
}

.footer-social-search form label {
    border: none;
    display: inline-block;
    height: 42px;
    text-align: right;
    vertical-align: top;
    width: 24px;
}

.footer-social-search form label span {
    background-color: #f1f1f1;
    display: inline-block;
    height: 22px;
    margin: 10px 0;
    overflow: hidden;
    text-indent: 5000px;
    width: 15px;

    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-top-left-radius:    10px;
    -moz-border-radius-bottomleft:     10px;
    -moz-border-radius-topleft:        10px;
    border-bottom-left-radius:         10px;
    border-top-left-radius:            10px;
}

.footer-social-search .search {
    background-color: #f1f1f1;
    border: none;
    border-radius: 0;
    display: inline-block;
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    height: 22px;
    line-height: 22px;
    margin: 10px 0;
    padding: 0;
    vertical-align: top;
    width: 226px;
}

.footer-social-search .search-submit {
    background: #f1f1f1 url("/images/icons/search-icon.png") no-repeat center center;
    border: none;
    display: inline-block;
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    height: 22px;
    line-height: 22px;
    margin: 10px 0;
    padding: 0;
    vertical-align: top;
    width: 24px;


    border-radius: 0; /* reset the border radius */

    /* Now round the bottom & top right corners */
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius:    10px;
    -moz-border-radius-bottomright:     10px;
    -moz-border-radius-topright:        10px;
    border-bottom-right-radius:         10px;
    border-top-right-radius:            10px;
}

@media all and (-webkit-min-device-pixel-ratio: 2) {

    .footer-social-search .search-submit {
        background-image: url('/images/icons/search-icon@2x.png');
        background-size: 12px auto;
    }

}

/* @end */

/* @end */

/* @end */

/* @group Site Map */

.sitemap {
    padding: 0 1%;
}

.sitemap h2 {
    border-bottom: 1px solid #9a9a9a;
    margin: 50px 0 40px;
    padding: 0 0 40px 0;
    font-size: 26px;
    color: #fff;
}

.sitemap h2 span {
    font-weight: bold;
}

.sitemap > nav > ul > li {
    display: block;
    float: left;
    width: 11.5%; /* 8 columns maximum */
    min-width: 160px; /* stack if require */
    max-width: 320px;
    margin: 0 .5%;
}

.sitemap > nav > ul > li > a:link {
    font-weight: bold;
    color: #fff;
}

.sitemap > nav li {
    font-size: 12px;
    line-height: 1.5;
    margin: 8px 0;
}

.sitemap > nav ul ul {
    margin-left: 0;
}

.sitemap > nav ul ul li {
    list-style: none;
}

.sitemap > nav > ul > li {
    display: block;
    float: left;
    width: 11%;
    margin-right: 1%;
    margin-bottom: 30px;
}

    @media all{
        .sitemap > nav > ul > li {
            margin-right: 2%;
            margin-bottom: 30px;
            max-width: 640px;
        }
    }

    /* 8-wide and fluid at 1650px or greater */
    @media all and (min-width: 1650px){
        .sitemap > nav > ul > li {
            width: 10%;
        }
        .sitemap > nav > ul > li:nth-child(8n+1){
            clear: left;
        }
    }

    /* 7-wide and fluid at 1450-1649px */
    @media all and (min-width: 1450px) and (max-width: 1649px){
        .sitemap > nav > ul > li {
            width: 11.75%;
        }
        .sitemap > nav > ul > li:nth-child(7n+1){
            clear: left;
        }
    }

    /* 6-wide and fluid at 1250-1449px */
    @media all and (min-width: 1250px) and (max-width: 1449px){
        .sitemap > nav > ul > li {
            width: 14%;
        }
        .sitemap > nav > ul > li:nth-child(6n+1){
            clear: left;
        }
    }

    /* 5-wide and fluid at 1050-1249px */
    @media all and (min-width: 1050px) and (max-width: 1249px){
        .sitemap > nav > ul > li {
            width: 17.5%;
        }
        .sitemap > nav > ul > li:nth-child(5n+1){
            clear: left;
        }
    }

    /* 4-wide and fluid at 850-1049px */
    @media all and (min-width: 850px) and (max-width: 1049px){
        .sitemap > nav > ul > li {
            width: 22.5%;
        }
        .sitemap > nav > ul > li:nth-child(4n+1){
            clear: left;
        }
    }

    /* 3-wide and fluid at 641-849px */
    @media all and (min-width: 641px) and (max-width: 849px){
        .sitemap > nav > ul > li {
            width: 30%;
        }
        .sitemap > nav > ul > li:nth-child(3n+1){
            clear: left;
        }
    }


/* @end */

/* @group Copyright */

.copyright {
    clear: both;
    border-top: 1px solid #9a9a9a;
    padding: 30px 0;
    margin: 0 1%;
}

.copyright p {
    font-size: 10px;
    margin-top: 3px;
    float: left;

}

.copyright a {
    color: #FFF;
}

.copyright ul {
    left: 0;
    margin-left: 0;
}

.copyright nav {
    float: right;
}

.copyright nav li {
    display: inline;
    font-size: 10px;
    text-transform: uppercase;
}

.copyright nav li:not(:last-of-type):after {
    content: " /";
}

/* @end */

/* @group Media Queries */

@media screen and (max-width: 890px) {
    /* Breakpoint at 890 - drop footer breadcrumbs, center social and search box in footer */

    .breadcrumb {
        display: none;
    }

    .footer-social-search {
        float: none;
        text-align: center;
    }

    .copyright p {
        padding: 20px 0;
        margin-bottom: 0;
    }

    .copyright nav {
        float: none;
    }

    .sticky-bar-inner {
        width: 100%;
        margin: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background: #3D3431;
        height: auto;
        padding: 0;
    }

    .footer-social-search {
        width: 100%;
    }

    .footer-social-search .social-media-icons {
        float: none;
        margin: 0 auto;
        padding: 13px 0;
    }

    .footer-social-search form {
        background-color: #4b4240;
        display: block;
        float: none;
        height: 42px;
        text-align: center;

        background-image: -webkit-gradient(
                            linear, left top, left bottom, color-stop(0%, #4b4240), color-stop(100%, #39312e)
                          );
        background-image: -webkit-linear-gradient(top, #4b4240 0%, #39312e 100%);
        background-image:    -moz-linear-gradient(top, #4b4240 0%, #39312e 100%);
        background-image:     -ms-linear-gradient(top, #4b4240 0%, #39312e 100%);
        background-image:      -o-linear-gradient(top, #4b4240 0%, #39312e 100%);
        background-image:         linear-gradient(top, #4b4240 0%, #39312e 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(
                    startColorstr='#4b4240', endColorstr='#39312e',GradientType=0
                );
    }

}

@media screen and (max-width: 640px) {
    body > footer h2 {
        display: none;
    }

    .sitemap > nav ul {
        margin-left: 0;
    }

    .sitemap > nav > ul > li > ul {
        display: none;
    }

    .sitemap > nav > ul > li {
        float: none;
        width: auto; /* 8 columns maximum */
        margin: 0 .5%;
        min-height: 0;
        font-size: 14px;
    }

    .sitemap > nav > ul > li > a {
        display: block;
        border-bottom: 1px solid #393330;
        padding: 8px 16px;
        color: #FFF;
        background: transparent url('/images/icons/mobile-arrows.png') no-repeat 97% -176px;
    }
        #sitemap > ul > li:last-child > a{
            border-bottom-color: #474341;
        }

    .sitemap {
        padding: 0;
    }

    .copyright {
        border-top: none;
        padding: 0 16px;
    }
        .copyright p {
            float: none;
        }
        .copyright ul {
            margin-top: 20px;
        }
}

@media screen and (max-width: 480px) {

    .footer-social-search .social-media-icons {
        height: 48px;
        padding: 0;
        width: 240px;
    }

    .footer-social-search .social-media-icons li {
        margin-left: 0;
    }

    .footer-social-search .social-media-icons li a {
        background-image: url('/images/icons/social-media-sprites-footer-mobile.png');
        height: 48px;
        width: 48px;
    }

    .footer-social-search .social-media-icons li.facebook a {
        background-position: 6px center;
    }

    .footer-social-search .social-media-icons li.twitter a {
        background-position: -55px center;
    }

    .footer-social-search .social-media-icons li.youtube a {
        background-position: -116px center;
    }

    .footer-social-search .social-media-icons li.email a {
        background-position: -177px center;
    }

    .footer-social-search .social-media-icons li.rss a {
        background-position: -238px center;
    }

}

@media screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

    .footer-social-search .social-media-icons li a {
        background-image: url('/images/icons/social-media-sprites-footer-mobile@2x.png');
        background-size: 246px auto;
    }

    .footer-social-search .social-media-icons li.facebook a {
        background-position: 8px center;
    }

    .footer-social-search .social-media-icons li.twitter a {
        background-position: -45px center;
    }

    .footer-social-search .social-media-icons li.youtube a {
        background-position: -99px center;
    }

    .footer-social-search .social-media-icons li.email a {
        background-position: -151px center;
    }

    .footer-social-search .social-media-icons li.rss a {
        background-position: -206px center;
    }

}

/* @end Media Queries */

/* @end Footer Container */

/* @group Retina Display Adjustments for Mobile Arrows */

@media all and (-webkit-min-device-pixel-ratio: 2) {

    body > header > h1 button,
    .nav nav li a,
    .nav nav li a:hover,
    .nav nav li a:active,
    .nav nav li a:focus,
    .subnav ul li a,
    .subnav ul li a:hover,
    .subnav > a,
    .sitemap > nav > ul > li > a {
        background-image: url('/images/icons/mobile-arrows@2x.png');
        background-size: 9px auto;
    }

}

/* @end */

/* @group Home Page Strata */

.home-page .strata-1 {
    box-shadow: 0px 3px 6px rgba(0,0,0,0.05);
    position: relative;
}

.home-page .strata-2 {
    background-color: #f6f5f2;
    padding: 45px 0 36px;
}

.home-page .strata-3 {
    background-color: #efeeec;
    padding: 28px 0 48px;
}

/* @end Home Page Strata */

/* @group Two Regions */

.two-regions .strata-1 {
    background-color: #044070;
    height: 235px;
    margin-top: -106px;
    padding-top: 182px;

    background-image: -webkit-gradient(linear, color-stop(#00375e)), color-stop(#127b7c));
    background-image: -webkit-linear-gradient(#00375e, #127b7c);
    background-image:    -moz-linear-gradient(#00375e, #127b7c);
    background-image:     -ms-linear-gradient(#00375e, #127b7c);
    background-image:      -o-linear-gradient(#00375e, #127b7c);
    background-image:         linear-gradient(#00375e, #127b7c);
}

.two-regions .strata-1 h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 100;
    line-height: 1.08333333333333; /* 52/48 */
    margin-bottom: 27px;
}

.two-regions .strata-2 {
    margin-bottom: 48px;
    padding-top: 43px;
}

.two-regions .strata-3 {
    margin-bottom: 76px;
}

/* @end Two Regions */

/* @group Two Regions (Alt) */

.default #main {
    background-color: #f6f5f2;
}

.default #main > header h1 {
    color: #443b38;
    background: #FFF;
    font-family: museo-sans, sans-serif;
    font-size: 43px;
    font-weight: 100;
    line-height: 1.21; /* 52px / 48px */
    margin: 0 auto;
    max-width: 912px;
    min-width: 320px;
    padding: 37px 15px 22px; /* 22px / 942px */
}

.default #main .region-1 {
    -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 39px;
    padding: 85px 0 0;
    background: #FFF;
}

.default .region-2 {
    padding-bottom: 45px;
}

    @media all and (max-width: 942px) {
        .default #main .region-2{
            padding-bottom: 0;
        }
    }


@media all and (max-width: 639px) {
    .default #main .region-1{
        padding-top: 0;
    }
    .default #main .subnav{
        border-top: 0;
        background: none;
    }
}


/* @end Two Regions (Alt) */

/* @group One Region */

.one-region {
    background-color: #fbfaf9;
}

.one-region #main {
    background: transparent url(../../images/blue-ribbon-bg.png) repeat-x left top;
    padding-top: 130px;
}

.one-region header {
    background: #fff url(../../images/subnav-bg.png) center bottom no-repeat;
    border-bottom: 1px solid #dfdfdf;
    height: 110px;
}

.one-region header h1 {
    font-family: museo-sans, sans-serif;
    font-size: 43px;
    font-weight: 100;
    line-height: 52px;
    padding-top: 45px;
}

.one-region .strata-1 {
    background-color: #fff;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.05);
    margin-bottom: 49px;
    padding-bottom: 13px;
    padding-top: 19px;
}

.one-region .strata-2 {
    margin-bottom: 45px;
}

/* @end One Region */

/* @group Poster Frame */

.posterframe {
    /* IE8 requires the parent element have "filter: inherit" set in the
       CSS in order to display the jQuery fadeIn/fadeOut functionality */
    filter: inherit;
    
    /* position must be "relative" to properly position
       the video overlay image */
    position: relative;
}

.posterframe img.video-overlay {
    height: 66px;
    left: 50%;
    margin-left: -33px;
    margin-top: -33px;
    position: absolute;
    top: 50%;
    width: 66px;
}

/* hide video-overlay in IE8...
b/c of fadeIn/fadeOut weirdness, we'll control 
that separately in javascript */
.ie8 .posterframe img.video-overlay {
    display: none;
}

/* @end */
