@import "susy";

$susy: (
	columns: 12,
	gutters: 1/4,
	container: em(1280px),
	debug: (
		image: show,
		color: transparentize(#32bdff, 0.5)
	)
);

@import "breakpoint";

// $bp-medium:		500px;
// $bp-large:		700px;

$breakpoint-to-ems: true;

body.breakpoint-2 {
	background-color: #195f80;

	.block {
		background-color: transparentize(#FFEECE, 0.4);
		border: 5px solid transparentize(#805c19, 0.1);
		border-radius: 5px;
		margin-bottom: 2em;
		padding: 0.5em percentage(20px / 1024px);
	}


	.wrapper {
		@include container;
	}

	.block {

		// @include breakpoint($bp-medium) {
		// 	@include gallery(4);
		// }

		// @include breakpoint($bp-large) {
		// 	@include gallery(2);
		// }
	}
}
