body.intro {

    background-color: #263c74;
    text-align: center;

    a.button {
        font-size: 5em;
        height: auto;
        line-height: 1;
        margin-top: 40vh;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-weight: bold;
        position: static;
        opacity: 1;
    }
}