/* Call the Eric Meyer Reset */

@import "compass/reset";

/* Boilerplate Defaults */

@import "boilerplate/boilerplate";

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700";
@import "buttons/css/buttons.css";

$opensans: "Open Sans", sans-serif;

@import "global";
@import "intro";
@import "demo-1";
@import "demo-2";
@import "demo-3";
@import "demo-4";
@import "demo-5";
@import "demo-6";
@import "demo-7";

/* Helper Classes */

@import "boilerplate/helper";

/* Example Media Queries for Responsive Design */

@import "boilerplate/media-queries";

/* Print Styles */

@import "boilerplate/print";
